.container {
    /* margin-top: 8px; */
    padding: 16px;
    border-radius: 8px;
}

.container:hover {
    background-color: #d4d4d4;
    cursor: pointer
}

.tag {
    padding: auto;
    border-radius: 2px;
    font-size: 14px;
}

.image {
    width: 114px;
    height: 70px;
    background-color: red;
}

.email {
    font-weight: bold;
}

.itemMeta {
    margin-left: 12px;
}